<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/detalleConsultas.css">
    <title>Detalles de la consulta</title>

</head>
<body>
    
    <header>
        <div class="logo">
            <img src="/img/google.png" alt="Logo de prueba" class="logo-img">
        </div>

        <div class="btn">
            <button class="btnForm" id="btnExportPDF">PDF</button> 
        </div>
    </header>

    <div class="btnReturn">
        <a class="btnRegresar" href="/consultas"> Regresar </a>
    </div>

        <div class="containerInfo">   
            
            <div class="infoConsulta">
        
                <h2>INFORMACIÓN DE LA CONSULTA</h2>
        
                <div class="infoUno">
                    <div class="nameContainer">
                        <h4>Paciente:</h4>
                        <p><%= paciente.nombre %></p>
                    </div>
                    <div class="edadContainer">
                        <h4>Edad:</h4>
                        <p><%= paciente.edad %></p>
                    </div>
                </div>
        
                <div class="infoDos">
                    <div class="diagContainer">
                        <h4>Diagnostico:</h4>
                        <p><%= paciente.diagnostico %></p>
                    </div>
                    <div class="fechaContainer">
                        <h4>Fecha:</h4>
                        <p><%= fechaActual %></p>
                    </div>
                </div>
        
            </div>
        
            <div class="infoReceta">
                <h2>INFORMACIÓN DE LA RECETA</h2>
        
                <div class="infoUnoR">
                    <div class="taContainer">
                        <h4>TA:</h4>
                        <p><%= paciente.ta%></p>
                    </div>
                    <div class="fcContainer">
                        <h4>FC:</h4>
                        <p><%= paciente.fc%></p>
                    </div>
                </div>
        
                <div class="infoDosR">
                    <div class="frContainer">
                        <h4>FR:</h4>
                        <p><%= paciente.fr%></p>
                    </div>
                    <div class="tempContainer">
                        <h4>Temperatura:</h4>
                        <p> <%= paciente.temperatura %> °C</p>
                    </div>
                </div>
        
                <div class="infoTresR">
                    <div class="pesoContainer">
                        <h4>Peso:</h4>
                        <p><%= paciente.peso%></p>
                    </div>
                    <div class="tallaContainer">
                        <h4>Talla:</h4>
                        <p><%= paciente.talla%></p>
                    </div>
                </div>
        
            </div>

        </div>
    
        <script src="../js/export.js"></script>

</body>
</html>